@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap');

:root {
    --dark-color: rgb(30, 33,29);
    --mid-color: rgb(162, 185, 191);
    --light-color: rgb(215,223, 232);
    --burgundy: rgb(145, 52, 40);
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body

html{
   font: 20px/1 "Ubuntu", sans-serif;
}

.wrapper{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.log-in {
    grid-column: 1/span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.log-in__host {
    display: flex;
    align-items: center;
    background-color: aquamarine;
}

.log-in__speaker {
    display: flex;
    align-items: center;
    background-color: chartreuse;
}

.speakerwyr {
    grid-column: 1/span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}