*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
   font: 20px/1 "Ubuntu", sans-serif;
}

button {
    border-radius: 6px;
    background-color: ;
    color: black;
    border: 2px solid #f44336;
    padding: .2rem;
}

    
button:hover {
        background-color: #f44336;
        color: white;
      }

.wrapper{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.log-in {
    grid-column: 1/span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.log-in__host {
    display: flex;
    align-items: center;
}

.log-in__speaker {
    display: flex;
    align-items: center;
}

.speakerwyr {
    grid-column: 1/span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}