.wrapper{
    display: grid;
    grid-template-rows: 10rem 10rem 10rem 10rem;
    grid-template-columns: 10rem 10rem;
}

h1{
    text-align: left;
    grid-column: 1 / span 2;
    grid-row: 1; 
}

.tags{
    text-align: left;
    grid-column: 1 / span 2;
    grid-row: 2;
}

hr{
    grid-column: 1 / span 2;
}